@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;}

body{margin: 0;
	padding: 0;
	width: 100vw;
	height: 100%;
	background-color: #F7FDF0;
	position: absolute;}


#topo{margin: 0;
	padding: 0;
	background-color:#f5ffe6;
		background-image:url("../img/fundo.png") ;
		background-size: contain;
		background-position: center;
		width: 100vw;
		height: 200px;
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;
		justify-content: center;}

#topo #logo{
	margin: 0;
	padding: 0;
	width: 200px;height: 200px;
	border-radius: 100px;
	background-image: url("../img/logo.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;}


#centro{
	margin: 0;
	padding: 0;
		width: 100vw;
		height: 600px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

#cintro{margin: 0;
		padding: 0; border-left:2px solid rgba(0, 0, 0, 0.2);
		border-right:3px solid rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 500px;}

#final{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: rgba(255, 99, 39,0.8);
	padding: 0;width: 100vw;
		height:150px;
		text-align: center;
		font-size: 10px;

	}		

#final a{padding: 15px;
		margin:5px;
	text-decoration: none;
	color: black;}

#final a:hover{color: blueviolet;
					transition:color 0.4s;
					font-size: 13px;
					transition: font-size 0.3s; }



#menu{align-items: center;
	flex-direction: column;
	justify-content: center;

display: flex;}

#menu ul{
		list-style: none;
		padding: 0;
		background: #f5ffe6;}
#menu ul li{display: inline;}
#menu ul li a{display: inline-block;
			font-weight:1000;
			color: black;
			text-decoration: none;
			padding: 25px;}
			
#menu ul li label{padding: 25px; cursor: pointer;
					font-family: 'Raleway', sans-serif;
					text-decoration: none;
					font-weight:1000;}
			
#menu ul li  label:hover{cursor: pointer;
	font-size: 20px;
	color: #ffbb01;
	background-color:#a7ffae;
	transition:font-size .4s;}

	#menu ul li a:hover{
		font-size: 20px;
		color: #ffbb01;
		background-color:#a7ffae;
		transition:font-size .4s;
}

.check{display: none;}

#closelog{z-index: 60;
			color: rgb(255, 254, 254);
			display: block;
			width: 20px;
			text-align: center;
			height: 20px;
			margin-left: 92%;
			padding: 3.5px;}

#closelog:hover{background-color: red;
				color: black;
				cursor: pointer;}			


#centro #cintro #logindiv{width: 300px;
			box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.6);
			height: 350px;
			border: 1px solid rgba(0, 0, 0, 0.664);
			margin: auto;
			position: absolute;
			z-index: 50;
			align-items: center;
			transition: all;
			flex-direction:column;
			display: none;
			background-color: rgba(0, 0, 0, 0.877); }

#user:checked ~ #centro #cintro #logindiv{	display: flex;
											transition:all .5s;}

#centro #cintro #logindiv #minilogo{width: 100%;
									height: 110px;
									background-image: url("../img/LOGO.png");
									background-position: center;
									background-repeat: no-repeat;
									background-size: contain;}


#centro #cintro #logindiv #loginform{width: 100%;
										height: 100%;
										display: flex;
										flex-direction: column;
										align-items: center;}
#centro #cintro #logindiv #loginform form{align-items: center;
											width: 100%;
											height: 40%;
											display: flex;
											flex-direction: column;
											align-items: center;
											padding: 5px;
											}	
#centro #cintro #logindiv #loginform form label{padding: 15px;color: white;}
#centro #cintro #logindiv #loginform p{margin-top: 20px;
										color:white;
										font-size: 10px;}	
#centro #cintro #logindiv #loginform p a{color: red;}

#centro #cintro #contatodiv{padding: 0;
							display: none;
							justify-content: center;
							flex-direction: column;
							align-items: center;
							width: 400px;
							height: 100%;
							background-color: rgba(248, 248, 248, 0);
							z-index: 40;
}
#centro #cintro #contatodiv label{padding: 30px;margin: 0%;}

#Contato:checked ~ #centro #cintro #contatodiv{display: flex;}