@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;}

body{margin: 0;
	display: felx;
	padding: 0;
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color:rgb(245,255,245);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/fundo2.png");
	position: absolute;}
body::-webkit-scrollbar {
	width: 8px;
	background-color: rgb(0, 0, 0); /* or add it to the track */
	  }
body::-webkit-scrollbar-thumb {
	border-radius: 20px;
    background: rgb(68, 68, 68);
}


#topo{margin: 0;
	padding: 0;
	background-color:#f5ffe6;
		background-image:url("../img/fundo.png") ;
		background-size: contain;
		background-position: center;
		width: 100vw;
		height: 200px;
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;
		justify-content: center;}

#topo #logo{
	margin: 0;
	padding: 0;
	width: 200px;height: 200px;
	border-radius: 100px;
	background-image: url("../img/logo.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;}


#centro{
	margin: 0;
	padding: 0;
		width: 100vw;
		height: 600px;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: rgba(23, 73, 23, 0.1);
		justify-content: center;
	}

#cintro{margin: 0;
		padding: 0; border-left:2px solid rgba(0, 0, 0, 0.2);
		border-right:3px solid rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgba(23, 73, 23, 0.2);
		overflow: hidden;
		align-items: center;
		width: 80%;
		height: 500px;}

#final{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: rgba(255, 99, 39,0.8);
	padding: 0;width: 100vw;
		height:150px;
		text-align: center;
		font-size: 10px;

	}

#final a{padding: 15px;
		margin:5px;
	text-decoration: none;
	color: black;}

#final a:hover{color: blueviolet;
					transition:color 0.4s;
					font-size: 13px;
					transition: font-size 0.3s; }



#menu{align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(23, 73, 23, 0.1);
	display: flex;}

#menu ul{
		list-style: none;
		overflow: hidden;
		padding: 0;
		background-color:#f5ffe6;
		background-image:url("../img/fundo.png") ;
		background-position: top;
		background-size: 200px;
	}
#menu ul li{display: inline-flex;}

#menu ul li label{	margin: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
					width: 120px;
					height: 80px;
					cursor: pointer;
					background-color: rgba(0, 0, 0, 0.07);
					text-decoration: none;
					color: black;
					z-index: 100;
					position: relative;
					font-weight:1000;
					overflow: hidden;
				}
#menu ul li label::before{
	content:'';
	margin: 0;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
	width: 200%;
	height: 0%;
	background-color: #a7ffae;
	z-index: -1;
	transition: .7s;
}

#menu ul li label:hover::before{
	height: 300%;
}

.check{display: none;}

#closelog{z-index: 60;
			color: rgb(255, 254, 254);
			display: block;
			width: 20px;
			text-align: center;
			height: 20px;
			margin-left: 92%;
			padding: 3.5px;}

#closelog:hover{background-color: red;
				color: black;
				cursor: pointer;}


#centro #cintro #logindiv{width: 300px;
			box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.6);
			height: 350px;
			border: 1px solid rgba(0, 0, 0, 0.664);
			margin: auto;
			position: absolute;
			z-index: 50;
			align-items: center;
			transition: all;
			flex-direction:column;
			display: none;
			background-color: rgba(0, 0, 0, 0.877); }

#user:checked ~ #centro #cintro #logindiv{	display: flex;
											transition:all .5s;}

#centro #cintro #logindiv #minilogo{width: 100%;
									height: 110px;
									background-image: url("../img/LOGO.png");
									background-position: center;
									background-repeat: no-repeat;
									background-size: contain;}


#centro #cintro #logindiv #loginform{width: 100%;
										height: 100%;
										display: flex;
										flex-direction: column;
										align-items: center;}
#centro #cintro #logindiv #loginform form{align-items: center;
											width: 100%;
											height: 40%;
											display: flex;
											flex-direction: column;
											align-items: center;
											padding: 5px;
											}
#centro #cintro #logindiv #loginform form label{padding: 10px;color: white;}

#centro #cintro #logindiv #loginform form button{margin-top:10px;width: 50px;height: 30px;
												border-style: outset;border-color: #a7ffae;
												font-weight:700;
												display: block;}

#centro #cintro #logindiv #loginform form button:hover{background-color: #a7ffae;
														padding: 4px;
														width: 70px;
														transition: padding .5s;
														border-style: outset;
														border-color: #e6ffe8;
														font-weight:700;cursor: pointer;}

#centro #cintro #logindiv #loginform p{margin-top: 20px;
										color:white;
										font-size: 10px;
									}

#centro #cintro #logindiv #loginform p a{color: red;}

#centro #cintro #contatodiv{padding: 0;
							display: none;
							justify-content: center;
							flex-direction: column;
							align-items: center;
							width: 400px;
							height: 100%;
							background-color: rgba(248, 248, 248, 0);
							z-index: 40;}
#centro #cintro #contatodiv label{padding: 30px;margin: 0%;}
#centro #cintro #contatodiv p{font-size: 15px;}


#Contato:checked ~ #centro #cintro #contatodiv{display: flex;}

#Contato:checked ~ #menu ul li #contatoLB::before{height: 300%;}

#Cardapio:checked ~ #menu ul li #cardapioLB::before{height: 300%;}

#Inicio:checked ~ #menu ul li #inicioLB::before{height: 300%;}

#Inicio:checked ~ #centro #cintro #inicio{display: inline-block;}

#Cardapio:checked ~ #centro #cintro #cardapioitem{display: grid;}


#centro #cintro #contatodiv:target{display: flex;}

#inicio{height: 400px;
				width: 700px;
				border-radius: 20px;
				overflow: hidden;
				position: absolute;
				box-shadow: 5px 5px 3px;
				}
.navigation{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}

.bar{
	width: 50px;
	height: 7px;
	background-color:rgba(173,255,47,0.4);
	cursor: pointer;
	margin: 6px;
	transition: background-color .5s;
	}
	.bar:hover{

		background-color:rgba(173,255,47,1);
	}
.slides{display: flex;
				width: 500%;
			height: 100%;}

.slide{width: 20%;
				transition: .6s;}
.slide img{

	width: 100%;
	height: 100%;
}

#slide1:checked ~ .s1{margin-left: 0;}
#slide2:checked ~ .s1{margin-left: -20%;}
#slide3:checked ~ .s1{margin-left: -40%;}
#slide4:checked ~ .s1{margin-left: -60%;}
#slide5:checked ~ .s1{margin-left: -80%;}

#slide1:checked ~ #centro #cintro #inicio .navigation #nav-1{background-color:rgb(173,255,47); }



#inicio{display: none;}

#cardapioitem::-webkit-scrollbar {
	width: 8px;
	background-color: rgb(0, 0, 0); /* or add it to the track */
	  }
#cardapioitem::-webkit-scrollbar-thumb {
	border-radius: 20px;
    background: rgb(68, 68, 68);
}

#cardapioitem{
	overflow-y: scroll;
						align-items: center;
						justify-content: center;
						width: 100%;
							margin:auto;
							display: none;
							grid-template-columns: 30% 30% 30%;}

.itenscard{  background-color: rgba(200, 255, 200, 0.5);
							width: 150px;
							height: 99%;
							padding: 0 30px;
							margin: auto;
							margin-bottom: 5px;
						}
.itenscard img{width: 100%;height: 110px;margin-top: 2px;}
.itenscard label{display:block;
	font-size: 12px;
	text-align: center;
								padding: 5px;
								overflow: hidden;
						    padding: 5px;
						    border-bottom: 1px solid greenyellow;}
